@charset "UTF-8";


body {
  background: linear-gradient(120deg, #000000 0%, #0d0d0d 100%);
   color: #e0e0e0;    
    color: whitesmoke;
    font-family: Consolas, Fira Mono;
    font-size: 18px;
    padding: 2rem;
    animation: fadeIn 1.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



h1 {
    font-family: Source Code Pro;
    font-size: 45px;
    background-color: #181726;
    color: #00ff4088;
    text-align: center;
}


h2{
    font-family: Source Code Pro;
    font-size: 28px;
    background-color: #181726;
    color: #099132;
}

h3{
    font-family: Source Code Pro;
    font-size: 22px;
    background-color: #181726;
    color: #099132;
}


Strong{
  color: #00ffcc;
}


a{
   font-family: Source Code Pro; 
   color: #00e5ff;
   text-decoration: none;

}


a:hover{
    font-family: Source Code Pro;
    font-size: 18px;
    color: #FF00FF;  
    text-decoration: none;
    text-shadow: 0 0 5px lawngreen
}


p{
    text-align: justify;
}


footer{
  text-align: center;
}